body{
  background: linear-gradient (white, blue) ;
}

h1{
  text-align: center;
  font-family: cursive;
  margin: 5% auto;
  margin-bottom: 0.1em;

}

 .timer{
  height: 50px;
  width: 100px;
  margin: 5% auto;
  border: 1px solid black;
  font-size: 15px;
  text-align: center;
  float: right;
}

#clock{
  height: 50px;
  width: 100px;
  margin: 5% auto;
  border: 1px solid black;
  float: left;
  font-size: 13px;
  text-align: center;

}

.stage {
  -webkit-perspective: 1000; 
  vertical-align: top;
  float: right;
  /*width: 500px;*/
  /*background-image: url(http://www.intrawallpaper.com/static/images/White-Background-9B1.jpg);*/
}

.flashcard {
  height: 300px;  
  width: 500px; 
  margin: 10% auto;
  border: 1px solid gray; 
  box-shadow: 2px 2px 2px #000;
  -webkit-transform-style: preserve-3d;  
  transition: all 0.3s;               
  -webkit-transition: all 0.3s;
}

.flipped {
  transform: rotatey(360deg);
  -webkit-transform: rotatey(360deg); 
}

.front {
  height: 300px;          
  width: 500px;
  position: absolute;    
  text-align: center;   
  -webkit-backface-visibility: hidden;       
}

.front p {
  margin-top: 25%;       
  font-size: 3em;
}

#questionArea{ 
  padding:10px 40px 40px 40px; 
}

h3{
  position: center;
  text-align: center;
  float: left;
}

#score{


}

#priorScores{
 

}

#timer{


}

#StartOver{
  height: 20px;
  border: 1px solid black;
  text-align: center;
  position: center;
}



